In [2]:
import pandas as pd
import seaborn as sns
from decimal import Decimal

In [3]:
wineries_df = pd.read_csv("/Users/scott/Bootcamp Lessons and Exercises/Project 1 work/wine-reviews (2)/winemag-data-130k-v2.csv")

In [4]:
wineries_df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [5]:
prolific_wineries_df = wineries_df.loc[:,["title", "price", "points", "winery", "variety"]]
prolific_wineries_df.head()

,title,price,points,winery,variety
0,Nicosia 2013 Vulkà Bianco (Etna),NaN,87,Nicosia,White Blend
1,Quinta dos Avidagos 2011 Avidagos Red (Douro),15.0,87,Quinta dos Avidagos,Portuguese Red
2,Rainstorm 2013 Pinot Gris (Willamette Valley),14.0,87,Rainstorm,Pinot Gris
3,St. Julian 2013 Reserve Late Harvest Riesling ...,13.0,87,St. Julian,Riesling
4,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,65.0,87,Sweet Cheeks,Pinot Noir

In [6]:
#List of the most prolific wineries
prolific_wineries = pd.DataFrame(prolific_wineries_df.winery.value_counts())
prolific_wineries.head()

                    winery
Wines & Winemakers     222
Testarossa             218
DFJ Vinhos             215
Williams Selyem        211
Louis Latour           199

In [7]:
#Average Rating of wines at Wines & Winemakers
prolific_wineries_ww = prolific_wineries_df.loc[prolific_wineries_df["winery"] == "Wines & Winemakers", ['points']]
avg_ww_rating = prolific_wineries_ww.points.mean()
ww_rating = round(avg_ww_rating,3)
ww_rating

87.599

In [8]:
#Average Price of wines at Wines & Winemakers
prolific_wineries_ww = prolific_wineries_df.loc[prolific_wineries_df["winery"] == "Wines & Winemakers", ['price']]
avg_ww_price = prolific_wineries_ww.price.mean()
ww_price = round(avg_ww_price,3)
ww_price

17.502

In [10]:
#Average rating of wine in original data set
wine = wineries_df.points.mean()
wine_avg_rating = round(wine,3)
wine_avg_rating

88.447

In [11]:
#Average price of wine in orginial data set
wine_price = wineries_df.price.mean()
wine_avg_price = round(wine_price,3)
wine_avg_price

35.363

In [19]:
#Most variations of wine at Wines & winemakers
ww = prolific_wineries_df.loc[prolific_wineries_df["winery"] == "Wines & Winemakers", ['variety']]
ww_df = pd.DataFrame(ww.variety.value_counts())
ww_df

                      variety
Portuguese Red             84
Portuguese White           67
Rosé                       24
Castelão                   16
Alvarinho                  11
Códega do Larinho           4
Sauvignon Blanc             4
Merlot                      2
Touriga Nacional            2
Loureiro                    2
Siria                       1
Fernão Pires                1
Port                        1
Antão Vaz                   1
Portuguese Sparkling        1
Alicante Bouschet           1

In [20]:
pr = wineries_df.loc[wineries_df["variety"] == "Portuguese Red"]

In [21]:
#Average rating of Portuguese Red at Wine & winemakers
p_red = pr.points.mean()
port_red = round(p_red,3)
port_red

88.811

In [22]:
#Average rating of Portuguese Red at Wine 
pred = pr.price.mean()
port_red_avg_price = round(pred,3)
port_red_avg_price

24.819