In [1]:
#created separate csv files
#ey

In [2]:
import pandas as pd

In [13]:
df = pd.read_csv('../../gw/Project_1/winemag-data-130k-v2.csv')

In [14]:
df = df[['title','variety', 'country', 'points', 'price', 'taster_name', 'taster_twitter_handle']]
df = df.rename(columns={'title':'wine', 'taster_name':'taster', 'taster_twitter_handle':'twitter handle'})
df.dropna(axis=0, how='any')
df.head()

,wine,variety,country,points,price,taster,twitter handle
0,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Italy,87,NaN,Kerin O’Keefe,@kerinokeefe
1,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Portugal,87,15.0,Roger Voss,@vossroger
2,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,US,87,14.0,Paul Gregutt,@paulgwine
3,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,US,87,13.0,Alexander Peartree,NaN
4,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,US,87,65.0,Paul Gregutt,@paulgwine

In [15]:
whites = ['Riesling', 'White Blend', 'Chardonnay', 'Sauvignon Blanc']
reds = ['Merlot', 'Sangiovese', 'Red Blend', 'Pinot Noir']
both = ['Riesling', 'White Blend', 'Chardonnay', 'Sauvignon Blanc', 'Merlot', 'Sangiovese', 'Red Blend', 'Pinot Noir']

In [16]:
whites_df = df.loc[df['variety'].isin(whites)]
reds_df = df.loc[df['variety'].isin(reds)]

In [17]:
whites_and_reds_df = whites_df.merge(reds_df, how='outer')

In [18]:
whites_df.to_csv('whites_only.csv')
reds_df.to_csv('reds_only.csv')
whites_and_reds_df.to_csv('whites_and_reds.csv')

In [19]:
riesling_df = df.loc[df['variety'] == 'Riesling']
whiteblend_df = df.loc[df['variety'] == 'White Blend']
chardonnay_df = df.loc[df['variety'] == 'Chardonnay']
sauvblanc_df = df.loc[df['variety'] == 'Sauvignon Blanc']
merlot_df = df.loc[df['variety'] == 'Merlot']
sangiovese_df = df.loc[df['variety'] == 'Sangiovese']
redblend_df = df.loc[df['variety'] == 'Red Blend']
pinotnoir_df = df.loc[df['variety'] == 'Pinot Noir']

In [20]:
riesling_df.to_csv('riesling.csv')
whiteblend_df.to_csv('whiteblend.csv')
chardonnay_df.to_csv('chardonnay.csv')
sauvblanc_df.to_csv('sauvignon_blanc.csv')
merlot_df.to_csv('merlot.csv')
sangiovese_df.to_csv('sangiovese.csv')
redblend_df.to_csv('redblend.csv')
pinotnoir_df.to_csv('pinotnoir.csv')

In [10]:
pinotnoir_df.head()

,wine,variety,country,points,price,taster
4,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,US,87,65.0,Paul Gregutt
21,Acrobat 2013 Pinot Noir (Oregon),Pinot Noir,US,87,20.0,Paul Gregutt
25,Castello di Amorosa 2011 King Ridge Vineyard P...,Pinot Noir,US,87,69.0,Virginie Boone
35,Erath 2010 Hyland Pinot Noir (McMinnville),Pinot Noir,US,86,50.0,Paul Gregutt
41,Hawkins Cellars 2009 Pinot Noir (Willamette Va...,Pinot Noir,US,86,22.0,Paul Gregutt